@font-face {
    font-family: PermanentMarker;
    src: url(../PermanentMarker-Regular.ttf);
}

body {
    background-image: url(../Img/Chalkboard-hd-wallpapers.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    font-family: PermanentMarker;
    
}

h1 {
    border-width: thick;
    border-color: transparent;
    border-style: solid;
    width: 600px;
    margin: auto;
    margin-left: 585px;
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
    text-shadow: 1px 1px 3px black;
}

h2 {
    border-width: thick;
    border-color: transparent;
    border-style: solid;
    width: 400px;
    margin: auto;
    margin-left: 694px;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 3px whitesmoke;
}

.icon-box {
    border-width: thick;
    border-color: #691A60;
    border-style: solid;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.507);
    width: 600px;
    height: 300px;
    padding: 1px;
    margin: auto;
    margin-top: 25px;
    margin-left: 590px;
}

.vs {
    position: relative;
    border-width: thick;
    border-color: transparent;
    border-style: solid;
    width: 80px;
    height: 20px;
    margin: auto;
    text-align: center;
    font-size: 70px;
    text-shadow: 1px 1px 3px whitesmoke;
    bottom: 30px;
}

.player-icon {
    border-width: thick;
    border-color: transparent;
    border-style: solid;
    position: relative;
    margin: auto;
    top: 75px;
    left: 70px;
}

.computer-icon {
    border-width: thick;
    border-color: transparent;
    border-style: solid;
    left: 400px;
    bottom: 90px;
    position: relative;
}

.options-box {
    position: relative;
    border-width: thick;
    border-color: transparent;
    border-style: solid;
    width: 150px;
    height: 600px;
    bottom: 400px;
    left: 100px;
}

p {
    position: absolute;
    left: 200px;
    font-size: 20px;
    font-style: italic;
    text-shadow: 1px 1px 1px whitesmoke;
}

.title-rock {    
    margin-top: 130px;
}

.rock {
    position: relative;
    margin-top: 70px;
    cursor: pointer;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

.rock:hover {
    transform: rotate(360deg);
}

.title-paper {
    margin-top: 130px;
}

.paper {
    position: relative;
    margin-top: 70px;
    cursor: pointer;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

.paper:hover {
    transform: rotate(360deg);
}

.title-scissors {
    margin-top: 130px;
}

.scissors {
    position: relative;
    margin-top: 70px;
    cursor: pointer;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

.scissors:hover {
    transform: rotate(360deg);
}

.score-box {
    position: relative;
    border-width: thick;
    border-color: #691A60;
    border-style: solid;
    border-radius: 60px;
    background-color: rgba(0, 0, 0, 0.507);
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 40px;
    margin-left: 740px;
    bottom: 630px;
    font-size: 24px;
    text-shadow: 1px 1px 3px whitesmoke;
}

.player-score {
    text-align: center;
    border-width: thick;
    border-color: transparent;
    border-style: solid;
    position: relative;
    width: 40px;
    bottom: 6px;
    left: 74px;
}

.computer-score {
    text-align: center;
    border-width: thick;
    border-color: transparent;
    border-style: solid;
    position: relative;
    width: 40px;
    bottom: 164px;
    left: 176px;
}

.separator {
    position: relative;
    text-align: center;
    border-width: thick;
    border-color: transparent;
    border-style: solid;
    width: 40px;
    bottom: 85px;
    margin: auto;
    text-align: center;
}